# Server
SERVER_PORT=8080

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=payment
DB_PASSWORD=payment_secret
DB_NAME=payment_gateway

# Redis
REDIS_ADDR=localhost:6379

# Worker
WORKER_INTERVAL_SEC=2
WORKER_BATCH_SIZE=10

# Logging: debug | info | warn | error
LOG_LEVEL=debug
